@import "../../../pages/variables";

header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
  background: transparent;
  z-index: 2;

  //ToDo: add ref in React
  &_scroll {
    background: $main-container_color;
  }

  nav {
    max-width: max-content;

    ul {
      display: flex;
      justify-content: center;

      li {
        margin: 0.7em 1em;
        font-weight: bold;
        color: white;
      }
    }
  }

  a {
    color: white;
    padding-bottom: 0.1em;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: white;
    }

    .fa, .fab, .fad, .fal, .far, .fas {
      font-size: 0.9em;
      margin-right: 0.3em;
    }
  }
}