@import "../variables";

.IndexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .link {
    &:hover {
      border-color: white;
    }
  }

  &_container {
    width: 47em;
    max-width: 47em;
  }

  &_block {
    margin: 0.4em 0;
    padding: 0.4em 0;

    &-label {
      margin: 3em 0 1.5em;

      span {
        font-size: 3.5em;
      }
    }
  }

  .main {
    &_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 40em;
      background: $main-container_color;

      //ToDo: Create mixin
      span {
        color: white;

        //ToDo: Create mixin
        &:nth-child(1) {
          text-shadow: 5px 5px $text-shadow_color_1,
          10px 10px $text-shadow_color_1,
          15px 15px $text-shadow_color_1,
          20px 20px $text-shadow_color_1;
        }
        &:nth-child(2) {
          text-shadow: 5px 5px $text-shadow_color_2,
          10px 10px $text-shadow_color_2,
          15px 15px $text-shadow_color_2,
          20px 20px $text-shadow_color_2;
        }
        &:nth-child(3) {
          text-shadow: 5px 5px $text-shadow_color_3,
          10px 10px $text-shadow_color_3,
          15px 15px $text-shadow_color_3,
          20px 20px $text-shadow_color_3;
        }
      }
    }

    &_layout {
      min-width: 70em;
      display: flex;
      flex-direction: row;

      &_right {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 5em;
        color: white;

        > span {
          &:nth-child(1) {
            @include text-shadow-line($text-shadow_color_1);
          }
          &:nth-child(2) {
            @include text-shadow-line($text-shadow_color_2);
          }
          &:nth-child(3) {
            @include text-shadow-line($text-shadow_color_3);
          }
        }
      }
    }
  }

  .mySpeciality {
    font-size: 5em;
    font-weight: bold;
  }

  .myName {
    font-size: 5em;
  }

  .myPhoto {
    background: url("/static/img/i.jpg");
    background-position: inherit;
    background-size: cover;
    width: 22em;
    height: 22em;
    min-width: 22em;
    min-height: 22em;
    border-radius: 100%;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  }

  .myContacts {
    position: absolute;
    bottom: 0;
    right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.4em;
    min-height: 2.4em;

    > div {
      min-width: 4em;
      line-height: 1.2em;
    }
  }

  .skills {
    ul {
      li {
        display: inline-flex;
        margin: 0.25em;
        padding: 0.6em 0.8em;
        background: #eff1f2;
        color: #666666;
        border-radius: 0.2em;
      }
    }
  }

  .experience {
    a {
      color: #2196F3;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #2196F3;
      }
    }

    &_item {
      margin: 2em 0;
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 0.7em 0px rgba(0, 0, 0, 0.2);
      border-radius: 0.3em;
      padding: 1.5em 1em;

      &_dates {
        min-width: max-content;
        margin-right: 1.5em;
      }

      &_datePeriod {

      }

      &_workDuration {
        font-size: 0.9em;
        margin-top: 0.6em;
        color: #969696;
      }

      &_company {
        margin-bottom: 1.5em;

        div {
          &:first-child {
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 0.3em;
          }
          &:last-child {
            font-size: 0.9em;
          }
        }
      }

      &_text {
        line-height: 1.5em;
        font-size: 0.9em;

        p {
          margin-top: 1.5em;
          margin-bottom: 0.5em;
        }

        .label {
          font-weight: bold;

          &_big {
            padding-left: 0.5em;
            padding: 0.5em;
            background: rgba(143, 59, 255, 0.15);
          }
        }

        ul {
          margin-left: 1.5em;
          margin-bottom: 0.5em;

          li {
            list-style-type: square;
          }

          ul {
            margin-left: 1.5em;

            li {
              list-style-type: none;

              &:before {
                content: '-';
                font-size: 1.3em;
                margin-right: 0.5em;
              }
            }
          }
        }
      }
    }
  }

  .lastUpdateDate {
    font-size: 0.7em;
    color: #4c4c4c;
    margin-left: 0.4em;
  }
}