.cursor {
  z-index: 100;
  cursor: none;
  position: absolute;
  margin: 0;
  width: 78px;
  height: 78px;
  mix-blend-mode: difference;
  pointer-events: none;
  transition-property: background-color, width, height, margin;
  transition-duration: 333ms;

  @media screen and (max-width: 550px) {
    display: none !important;
  }
}

.active {
  margin: 26px;
  width: 26px;
  height: 26px;
  background-color: #00f4fa !important;
  transition-property: background-color, width, height, margin;
  transition-duration: 333ms;
}

.triangle {
  background: url("../../files/img/triangle.gif");
  background-size: 140%;
}