.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  cursor: none;
  user-select: none;
}

.wrapper {
  padding: 1.4em 1.7em;
  background: white;
  font-size: 24px;
  z-index: 10;
  position: relative;
  overflow: hidden;

  h1 {
    font-family: 'Inter-Bold', "Inter-Regular", sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.list {
  margin: 1.7em 0;

  li + li {
    margin-top: 0.8em;
  }
}

.mark {
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
  margin-right: 0.5em;
}

.contacts {
  margin-top: 2em;
  font-size: 0.7em;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li {
    list-style-type: none;

    + li {
      margin-left: 1em;
    }
  }

  a {
    color: #7756e4;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2.53px solid #b19eef;

    &:hover {
      cursor: none;
    }
  }
}

@keyframes easterEggsMove {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  0% {
    transform: rotate(-20deg);
  }
}

.easterEggs {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em;
  padding: 0.5em;
  filter: drop-shadow(2px 4px 6px black);
  opacity: 0.333;
  transform: rotate(-20deg);
  animation: easterEggsMove 333ms linear infinite;
}

.cat_run {
  position: absolute;
  left: 0;
  transition-property: opacity;
  transition-duration: 333ms;
  z-index: 5;
}

.circle {
  position: absolute;
  padding: 27em;
  background: url("../../files/img/circle.gif");
  background-size: cover;
  transition-property: opacity;
  transition-duration: 333ms;
}

.do_it {
  position: absolute;
  transform: translateY(240px);
  transition-property: opacity;
  transition-duration: 333ms;

  img {
    width: 400px;
  }
}

.cyber_track {
  position: absolute;
  bottom: 50px;
  width: 100%;

  img {
    position: absolute;
    width: 115px;
    right: 0;
    transform: translateX(110%);
    transition-property: transform;
    transition-duration: 2s;
  }
}

.fly_cat {
  position: absolute;
  top: 20%;
  width: 100%;

  img {
    position: absolute;
    width: 250px;
    right: 0;
    transform: translateX(110%);
    transition-property: transform;
    transition-duration: 2s;
  }
}