@import "../../../pages/variables.scss";

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: $yellow;
  padding: 1rem 0;

  .label {
    font-weight: bold;
  }

  ul {
    font-size: 0.9rem;

    li {
      padding: 0.2rem;

      i {
        padding-right: 0.2rem;
      }
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    color: black;
    font-weight: bold;
    padding-bottom: 0.1em;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: black;
    }
  }

  p {
    margin-top: 0.5em;
  }
}