footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 1px;
  width: 100%;
  background: #f7f3f1;
  padding: 1rem 0;

  .location {
    &_label {
      font-weight: bold;
    }

    ul {
      font-size: 0.9rem;

      li {
        padding: 0.2rem;

        i {
          padding-right: 0.2rem;
        }
      }
    }

    &_copy {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  a {
    color: black;
    font-weight: bold;
    padding-bottom: 0.1em;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: black;
    }
  }
}