body {
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.link {
  color: black;
  padding-bottom: 0.1em;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: black;
    cursor: pointer;
  }
}

mark {
  background-color: transparent;
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
}

.shadow-block {
  margin: 2em 0;
  box-shadow: 0 0 0.7em 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  padding: 1.5em 1em;

  &_text {
    line-height: 1.5em;
    font-size: 0.9em;

    p {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    .label {
      font-weight: bold;

      &_big {
        padding-left: 0.5em;
        padding: 0.5em;
        background: rgba(143, 59, 255, 0.15);
      }
    }
  }

  ul {
    margin-left: 1.5em;
    margin-bottom: 0.5em;

    li {
      list-style-type: square;
    }

    ul {
      margin-left: 1.5em;

      li {
        list-style-type: none;

        &:before {
          content: '-';
          font-size: 1.3em;
          margin-right: 0.5em;
        }
      }
    }
  }
}