//ToDo: Create mixin?
$main-container_color: #886ce4;
$text-shadow_color_1: #6661c2;
$text-shadow_color_2: #5656ac;
$text-shadow_color_3: #444488;

$light: white;
$yellow: #fce100;
$yellow_light: #fff27e;

@function generate-text-shadow ($from, $to, $measure, $text_color) {
  $result: null;
  @for $i from $from through $to {
    $result: $result, #{$i}#{$measure} #{$i}#{$measure} $text_color
  }
  @return $result;
}

@mixin text-shadow-line($text_color) {
  text-shadow: generate-text-shadow(1, 400, 'px', $text_color);
}