.Certificates {
  ul {
    li {
      display: flex;
      flex-direction: row;
      margin: 1em;

      & + li {
        margin-top: 3em;
      }

      div {
        &:first-child {
          margin-right: 2em;
        }

        h3 {
          font-size: 1.5em;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }

        h4 {
          font-weight: normal;
        }
      }

      img {
        max-width: 15em;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05, 1.05);
          transition: 0.2s;
        }
      }
    }
  }

  &_Modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 80vw;
      max-height: 80vh;
      margin-top: 1em;
    }

    p {
      text-align: center;
      font-size: 1.5em;
      line-height: 1.5em;

      &:first-child {
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 1em;
      }
    }
  }
}